.header-fixed .sidebar{
    padding-top: 0px!important;
  }
  .page-body .page-content-wrapper{
    margin-top: 0px!important;
  }
  .navigation-menu{
    margin-top: 0px!important;
  }
  .nav-category-divider{
    font-size:15px!important;
  }
  .page-body .page-content-wrapper .page-content-wrapper-inner{
      margin-left: 0px!important;
      margin-right: 0px!important;
      max-width: 100% !important;
  }
  .page-content-wrapper{
    background: #e1ecf7;
  }
  .img-banner{
      min-width:500px;
      min-height:200px;
      max-width: 800px;
      max-height: 300px;
      object-fit: cover;
  }
  *{
    font-family: 'Prompt', sans-serif;

  }