@charset "utf-8";

html{overflow-y:scroll; overflow-x: auto;}
html, body{margin:0; padding:0; font-size:14px; line-height:1.6em;}

*, *::before, *::after{box-sizing:border-box;}

.font-normal{font-style:normal;}
.font-italic{font-style:italic;}
.underline{text-decoration:underline;}
.bold{font-weight:bold;}
.center{text-align:center;}
.right{text-align:right;}
.uppercase{text-transform:uppercase;}
.capitalise{text-transform:capitalize;}
.hidden{display:none;}
.nospace{margin:0; padding:0; list-style:none;}
.block{display:block;}
.justified{text-align:justify;}
.inline *{display:inline-block;}
.inline *:last-child{margin-right:0;}
.pushright li{margin-right:20px;}
.pushright li:last-child{margin-right:0;}
.borderedbox{border:1px solid;}
.overlay{position:relative; z-index:1;}
.overlay::after{display:block; position:absolute; top:0; left:0; width:100%; height:100%; content:""; z-index:-1;}
.bgded{background-position:top center; background-repeat:no-repeat; background-size:cover;}
.circle, .icon{border-radius:50%; background-clip:padding-box;}

blockquote{display:block; position:relative; width:100%; margin:0; padding:0; line-height:1; z-index:1;}
blockquote::before{display:block; position:absolute; top:0; left:0; font-family:"FontAwesome"; font-size:60px; line-height:60px; content:"\f10d"; z-index:-1;}

.clear, .group{display:block;}
.clear::before, .clear::after, .group::before, .group::after{display:table; content:"";}
.clear, .clear::after, .group, .group::after{clear:both;}

a{outline:none; text-decoration:none;}

.fl_left, .imgl{float:left;}
.fl_right, .imgr{float:right;}
.PreMenu_fl_left{float:left;}
.PreMenu_fl_right{float:right;}

img{width:auto; max-width:100%; height:auto; margin:0; padding:0; border:none; line-height:normal; vertical-align:middle;}
.imgl{margin:0 15px 10px 0; clear:left;}
.imgr{margin:0 0 10px 15px; clear:right;}


/* Fonts
--------------------------------------------------------------------------------------------------------------- */
.font-RSUText{font-family:"RSUText";}
.font-KanitLight{font-family:"KanitLight";}
.font-KanitItalic{font-family:"KanitItalic";}

/* Forms
--------------------------------------------------------------------------------------------------------------- */
form, fieldset, legend{margin:0; padding:0; border:none;}
legend{display:none;}
label, input, textarea, select, button{display:block; resize:none; outline:none; color:inherit; font-size:inherit; font-family:inherit; vertical-align:middle;}
label{margin-bottom:5px;}
:required, :invalid{outline:none; box-shadow:none;}

p.big{line-height: 30px;}


/* Generalise
--------------------------------------------------------------------------------------------------------------- */
h, h1, h2, h3, h4, h5, h6, h7, h8, h9, h10, .heading{margin:0 0 0 0; line-height:normal; font-weight:bold;}
h1{font-size:100px;}
h2{font-size:90px;}
h3{font-size:80px;}
h4{font-size:70px;}
h5{font-size:60px;}
h6{font-size:50px;}
h7{font-size:40px;}
h8{font-size:30px;}
h85{font-size:25px}
h9{font-size:18px;}
้h94{font-size:15px;}
h10{font-size:10px;}

address{font-style:normal; font-weight:normal;}
hr{display:block; width:100%; height:1px; border:solid; border-width:1px 0 0 0;}

.font-xs{font-size:.8rem;}
.font-x0{font-size:1rem;}
.font-x1{font-size:1.4rem;}
.font-x2{font-size:1.6rem;}
.font-x2plus{font-size:2rem;}
.font-x3{font-size:3rem;}

.font-body101{font-style:rgb(0,91,109);}

.wrapper{display:block; position:relative; width:100%; margin:0; padding:0; text-align:left; word-wrap:break-word;}
.MenuBG{display:block; position:relative; width:100%; margin:0 0 0 0; padding:0; text-align:left; word-wrap:break-word;}
.PreMenuBG{display:block; position:relative; width:100%; margin:0; padding:9px 0; word-wrap:break-word;}
/*
The "hoc" class is a generic class used to centre a containing element horizontally
It should be used in conjunction with a second class or ID
*/
.hoc{display:block; margin:0 auto;}


/* HTML 5 Overrides
--------------------------------------------------------------------------------------------------------------- */
address, article, aside, figcaption, figure, footer, header, main, nav, section{display:block; margin:0; padding:0;}


/* Grid
--------------------------------------------------------------------------------------------------------------- */
.one_first, .one_half, .one_third, .two_third, .one_quarter, .two_quarter, .three_quarter{display:inline-block; float:left; margin:0 0 0 3.06748466257669%; list-style:none;}

.first{margin-left:0; clear:left;}
.second{margin-left:100px; clear:left;}
.third{margin-left:0; clear:left;}
.forth{margin-left:30px; clear:left;}

.one_quarter{width:22.69938650306748%;}
.one_third{width:31.28834355828221%;}
.one_half, .two_quarter{width:48.46625766871166%;}
.two_third{width:65.6441717791411%;}
.three_quarter{width:74.23312883435584%;}
.one_first{width:100%;}


/* Spacing
--------------------------------------------------------------------------------------------------------------- */
.btmspace-10{margin-bottom:10px;}
.btmspace-15{margin-bottom:15px;}
.btmspace-30{margin-bottom:30px;}
.btmspace-50{margin-bottom:50px;}
.btmspace-80{margin-bottom:80px;}

.inspace-5{padding:5px;}
.inspace-10{padding:10px;}
.inspace-15{padding:15px;}
.inspace-30{padding:30px;}
.inspace-50{padding:50px;}
.inspace-80{padding:80px;}

/* Super Slider
--------------------------------------------------------------------------------------------------------------- */

#slides {
    position: relative;
}
#slides .slides-container {
    display: none;
}
#slides .scrollable {
    *zoom: 1;
    position: relative;
    top: 0;
    left: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    height: 100%;
}
#slides .scrollable:after {
    content: "";
    display: table;
    clear: both;
}