@charset "utf-8";

@import url("all.css");
@import url("framework.css");
@import url("font-awesome.min.css");
@import url("util.css");

/* Fonts
--------------------------------------------------------------------------------------------------------------- */
@font-face {
  font-family: RSUText; /* Thai font with head */
  src: url(fonts/RSU_Text_Regular.ttf);
}
@font-face {
  font-family: KanitLight; /* Thai font without head */
  src: url(fonts/Kanit-Light.ttf);
}
@font-face {
	font-family: KanitThin; /* Thai font without head */
	src: url(fonts/Kanit-Thin.ttf);
}
@font-face {
	font-family: KanitItalic; /* Thai italic font without head */
	src: url(fonts/Kanit-Italic.ttf);
  }
div{
  font-family: KanitLight;
}
.shop-content-right{
	align-items: right;
}

/* Header
--------------------------------------------------------------------------------------------------------------- */
#header{}

#header #logo{margin:25px 0 0 0;}
#header #logo h1{margin:0; padding:0;}

/* Fixed-Menu
--------------------------------------------------------------------------------------------------------------- */
.main-header {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	padding: 0px 0px;
	background: rgb(94,177,26);
	z-index: 999;
}
.margin-for-fixedMenu{margin-top:140px;}

/* Poster Slider
--------------------------------------------------------------------------------------------------------------- */
.slider-container{
	position:relative;
}
.pagi-container{
	position:absolute;
	left:50%;
	text-align:center;
	margin:16px 0 23px;
	bottom:0;
	transform:translate(-50%,0%);
	-ms-transform:translate(-50%,0%);
	color:white;
}
.pagi-container .pagi-style{
	background-color:transparent;
	margin:0 5px;
	padding:0.35% 1%;
	text-align:center;
	border:2px solid rgb(77,77,77);
	z-index:3;
	cursor: pointer;
	transition: all .3s ease-in;
}
.pagi-container .pagi-style:hover, .pagi-container .check-current{
	background-color:rgb(130,216,67);
	border-color:transparent;
}
.navi-container{
	position:absolute;
	width:100%;
	margin-bottom:25%;
	bottom:0;
	font-size:30px;
	color:white;
	z-index:3;
}
.navi-container .prev, .navi-container .next{
	background-color:rgb(130,216,67);
	padding:1.1% 2% 0.8%;
	cursor:pointer;
}
.navi-container .prev{
	float:left;
	margin-left:15px;
}
.navi-container .next{
	float:right;
	margin-right:15px;
}

/* Page Intro
--------------------------------------------------------------------------------------------------------------- */
#pageintro{padding:200px 0;}
#pageintro *{word-wrap:break-word;}
#pageintro .transbox{display:block; max-width:50%; padding:30px;}
#pageintro .heading{margin-bottom:20px; font-weight:400;}
#pageintro p{margin:0; padding:0; font-size:1.2rem;}
#pageintro footer{margin-top:30px;}


/* Content Area
--------------------------------------------------------------------------------------------------------------- */
.container{padding:90px 0;}
.container2{padding:0 0 90px 0;}
.container3{padding-top:70px;}
.container4{padding:90px 150px;}
.container5{padding:60px 0;}
.container6{margin:0 300px;}
.container7{margin:10px 0;}

.imgbox {
	display: grid;
	width: device-width;
}

/* Content */
.profilesize{width:200px; height:200px;}

.sectiontitle{display:block; max-width:55%; margin:0 auto 80px; text-align:center;}
.sectiontitle *{margin:0;}

.bgJoin{background-size:cover; width:100%; height:855px;}
.bgSizeTeacher{
	background-image:url('มูลนิธิครูดีของแผ่นดิน ร่วมงาน_ครูดี.jpg');
	background-position-x:center;
	background-repeat:no-repeat;
}
.bgSizeStudent{
	background-image:url('มูลนิธิครูดีของแผ่นดิน ร่วมงาน_นักเรียนดี.jpg');
	background-position:left;
	background-repeat:no-repeat;
}
.bgSizeSupervisor{
	background-image:url('มูลนิธิครูดีของแผ่นดิน ร่วมงาน_ศึกษานิเทศน์ดี.jpg');
	background-position-x:center;
	background-repeat:no-repeat;
}
.bgSizeDevelop{background-image:url('มูลนิธิครูดีของแผ่นดิน ร่วมงาน_อบรมพัฒนา.jpg');}
.bgSizeBInAw01{
	background-image:url('BInAw Poster01.png');
	background-position-x:center;
	background-repeat:no-repeat;
}
.bgSizeBInAw02{background-image:url('ภาพรวมการดำเนินโครงการBe Internet Awesome Poster.png');}
.bgSizeBInAw03{background-image:url('Slideวันงาน Poster.png');}
.bgSizeBInAw04{background-image:url('ยื่นหลักฐาน.png');}
.bgSizeBInAwBIA{background-image:url('หลักสูตรBIA Poster.png');}
.bgSizeVolun{
	background-image:url('อาสาของแผ่นดินBG.jpg');
	background-position-x:center;
	background-repeat:no-repeat;
}

.testimonials{}
.testimonials article{}
.testimonials article *{margin:0; padding:0;}
.testimonials article img{margin-bottom:20px; border-radius:4%;}
.testimonials article blockquote{margin-bottom:20px; padding:20px; color:#474747; background-color:#FFFFFF; border-radius:10px; font-family:RSUText; font-size:25px; font-weight:bold;}
.testimonials article blockquote::before{top:5px; left:5px; font-size:30px; line-height:30px; color:rgba(0,0,0,.1);}
.testimonials article .heading{color:rgb(2,83,165); font-family:KanitLight;}
.testimonials article em{display:block; font-size:23px; font-style:normal; font-weight:bold; font-family:RSUText; color:rgb(180,147,31);}

.elements li:nth-child(-n+3){margin-bottom:50px;}/* Adds bottom margin to the first two elements only */
.elements > li:last-child{margin-bottom:0;}/* Used when elements stack in small viewports */
.elements article{display:block; position:relative; min-height:80px; padding:0 0 0 70px;}
.elements article::before, .elements article::after{display:table; content:"";}
.elements article::after{clear:both;}
.elements article *{margin:0 0 15px 0;}
.elements article > :last-child{margin-bottom:0;}
.elements article i{display:block; position:absolute; top:0; left:0; width:50px; height:50px; line-height:48px; margin:0; border:1px solid; text-align:center; font-size:20px;}
.elements article .heading{font-size:1.2rem;}

.latest{}
.latest article{}
.latest article figure{display:block; position:relative;}
.latest article figure img{}
.latest article figure figcaption{position:absolute; top:10px; left:10px; width:50px;}
.latest article figure figcaption *{display:block; margin:0; padding:0; text-align:center; text-transform:uppercase; font-style:normal; line-height:1;}
.latest article figure figcaption time{width:100%;}
.latest article figure figcaption time strong{padding:12px 0; font-size:18px;}
.latest article figure figcaption time em{padding:8px 0;}
.latest article .txtwrap{padding:25px 20px;}
.latest article .txtwrap p{font-family:RSUText;}
.latest article .txtwrap .heading{margin:0; font-size:1.4rem;}
.latest article .txtwrap .meta{}
.latest article .txtwrap .meta li{display:inline-block; font-size:.8rem;}
.latest article .txtwrap .meta li::after{margin-left:5px; content:"|";}
.latest article .txtwrap .meta li:last-child::after{margin:0; content:"";}
.latest article .txtwrap p{font-size:25px;}
.latest article .txtwrap footer{}

.zoom108:hover{transform: scale(1.08);}
.zoom11:hover{transform: scale(1.1);}

/* คลังสื่อนวัตกรรม Content Style */
.tag .meta{}
.tag .meta li{display:inline-block; font-size:1rem; margin-top:10px;}
.tag .meta li::after{margin-left:5px; content:"|";}
.tag .meta li:last-child::after{margin:0; content:"";}
.tag .devatt-sty{background-color:rgb(144,233,0); padding:8px 10px 3px; border-radius:15px;}
.tag .coutea-sty{background-color:green; padding:8px 10px 3px; border-radius:15px;}
.tag .psygui-sty{background-color:rgb(0,168,235); padding:8px 10px 3px; border-radius:15px;}
.tag .tecedu-sty{background-color:rgb(0,31,167); padding:8px 10px 3px; border-radius:15px;}

/* Comments */
#comments ul{margin:0 0 40px 0; padding:0; list-style:none;}
#comments li{margin:0 0 10px 0; padding:15px;}
#comments .avatar{float:right; margin:0 0 10px 10px; padding:3px; border:1px solid;}
#comments address{font-weight:bold;}
#comments time{font-size:smaller;}
#comments .comcont{display:block; margin:0; padding:0;}
#comments .comcont p{margin:10px 5px 10px 0; padding:0;}

#comments form{display:block; width:100%;}
#comments input, #comments textarea{width:100%; padding:10px; border:1px solid;}
#comments textarea{overflow:auto;}
#comments div{margin-bottom:15px;}
#comments input[type="submit"], #comments input[type="reset"]{display:inline-block; width:auto; min-width:150px; margin:0; padding:8px 5px; cursor:pointer;}


/* Sidebar */
.container .sidebar{}

.sidebar .sdb_holder{margin-bottom:50px;}
.sidebar .sdb_holder:last-child{margin-bottom:0;}

/* View Counter
--------------------------------------------------------------------------------------------------------------- */
.viewcount{color:rgb(0,6,27); background-color:rgb(226,255,224); padding-bottom:10px; text-align:left;}


/* Footer
--------------------------------------------------------------------------------------------------------------- */
#footer{padding:80px 0;}

#footer .heading{margin-bottom:50px; font-size:1.2rem;}

#footer .linklist li{display:block; margin-bottom:15px; padding:0 0 15px 0; border-bottom:1px solid;}
#footer .linklist li:last-child{margin:0; padding:0; border:none;}
#footer .linklist li::before, #footer .linklist li::after{display:table; content:"";}
#footer .linklist li, #footer .linklist li::after{clear:both;}

#footer .contact{}
#footer .contact.linklist li, #footer .contact.linklist li:last-child{position:relative; padding-left:40px;}
#footer .contact li *{margin:0; padding:0; line-height:1.6;}
#footer .contact li i{display:block; position:absolute; top:0; left:0; width:30px; font-size:20px; text-align:center;}

#footer input, #footer button{border:1px solid;}
#footer input{display:block; width:100%; padding:8px;}
#footer button{padding:8px 18px 10px; text-transform:uppercase; font-weight:700; cursor:pointer;}

.footerlink a:hover{color:rgb(0,6,27);}


/* Copyright
--------------------------------------------------------------------------------------------------------------- */
#copyright{padding:20px 0;}
#copyright *{margin:0; padding:0;}


/* Transition Fade
This gives a smooth transition to "ALL" elements used in the layout - other than the navigation form used in mobile devices
If you don't want it to fade all elements, you have to list the ones you want to be faded individually
Delete it completely to stop fading
--------------------------------------------------------------------------------------------------------------- */
*, *::before, *::after{transition:all .28s ease-in-out;}
#mainav form *{transition:none !important;}
#mainav2 form *{transition:none !important;}


/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */


/* Navigation
--------------------------------------------------------------------------------------------------------------- */
nav ul, nav ol{margin:0; padding:0; list-style:none;}

#mainav, #breadcrumb, .sidebar nav{line-height:normal;}
#mainav .drop::after, #mainav li li .drop::after, #breadcrumb li a::after, .sidebar nav a::after{position:absolute; font-family:"FontAwesome"; line-height:10px;}

/* Top Navigation */
#mainav{}
#mainav ul.clear{margin-top:3px;}
#mainav ul{text-transform:uppercase;}
#mainav ul ul{z-index:9999; position:absolute; width:300px; text-transform:none;}
#mainav ul ul ul{left:180px; top:0;}
#mainav li{display:inline-block; position:relative; margin:0 15px 0 0; padding:0;}
#mainav li:last-child{margin-right:0;}
#mainav li li{width:100%; margin:0;}
#mainav li a{display:block; padding:30px 0;}
#mainav li li a{border:solid; border-width:0 0 1px 0;}
#mainav .drop{padding-left:15px;}
#mainav li li a, #mainav li li .drop{display:block; margin:0; padding:10px 15px;}
#mainav .drop::after, #mainav li li .drop::after{content:"\f0d7";}
#mainav .drop::after{top:35px; left:5px;}
#mainav li li .drop::after{top:15px; left:5px;}
#mainav ul ul{visibility:hidden; opacity:0;}
#mainav ul li:hover > ul{visibility:visible; opacity:1;}

#mainav form{display:none; margin:0; padding:0;}
#mainav form select, #mainav form select option{display:block; cursor:pointer; outline:none;}
#mainav form select{width:100%; padding:5px; border:1px solid;}
#mainav form select option{margin:5px; padding:0; border:none;}

#mainav .joinus-btn ul{width:300px;}

/* Mainav for login & language button */
#mainav2, #breadcrumb, .sidebar nav{line-height:normal;}
#mainav2 .drop::after, #mainav2 li li .drop::after, #breadcrumb li a::after, .sidebar nav a::after{position:absolute; font-family:"FontAwesome"; line-height:10px;}

#mainav2{}
#mainav2 ul.clear{margin-top:3px;}
#mainav2 ul{text-transform:uppercase;}
#mainav2 ul ul{z-index:9999; position:absolute; margin-top:2px; text-transform:none;}
#mainav2 .faicon-backsystem ul{width:170px;}
#mainav2 .faicon-language ul{width:123px;}
#mainav2 .donate-btn ul{width:180px;}
#mainav2 ul ul ul{left:180px; top:0;}
#mainav2 li{display:inline-block; position:relative;}
#mainav2 li ul{margin:15px 0 0 -5px;} /* Set whole box of drop down manu */
#mainav2 li ul li{width:100%; margin:0; padding:0;} /* Set individual box of drop down menu */
#mainav2 li li a{border:solid; border-width:0 0 1px 0; font-size:17px;}
#mainav2 .drop{padding-left:15px;}
#mainav2 li li a, #mainav2 li li .drop{display:block; margin:0; padding:10px 15px;}
#mainav2 .drop::after{top:35px; left:5px;}
#mainav2 li li .drop::after{top:15px; left:5px;}
#mainav2 ul ul{visibility:hidden; opacity:0;}
#mainav2 ul li:hover > ul{visibility:visible; opacity:1;}

#mainav2 li a{color:inherit;}
#mainav2 .active a, #mainav2 a:hover, #mainav2 li:hover > a{color:white; background-color:inherit;}
#mainav2 li li a, #mainav2 .active li a{color:#FFFFFF; background-color:rgba(0,0,0,.6); border-color:rgba(0,0,0,.6);}
#mainav2 li li:hover > a, #mainav2 .active .active > a{color:#FFFFFF; background-color:rgb(2,83,165);}

#mainav2 form{display:none; margin:0; padding:0;}
#mainav2 form select, #mainav2 form select option{display:block; cursor:pointer; outline:none;}
#mainav2 form select{width:100%; padding:5px; border:1px solid;}
#mainav2 form select option{margin:5px; padding:0; border:none;}

.PreMenufaico2 li a text1, .PreMenufaico2 li a donate{font-size:13px;}

/* Logo with name style */
#logoname{margin-top:20px;}
#logoname li{display:inline-block;}
#logoname li a{line-height:30px; letter-spacing:2px;}

/* Breadcrumb */
#breadcrumb{padding:120px 0 15px;}
#breadcrumb ul{margin:0; padding:0; list-style:none; text-transform:uppercase;}
#breadcrumb li{display:inline-block; margin:0 6px 0 0; padding:0;}
#breadcrumb li a{display:block; position:relative; margin:0; padding:0 12px 0 0; font-size:20px;}
#breadcrumb li a::after{}
#breadcrumb li:last-child a{margin:0; padding:0;}
#breadcrumb li:last-child a::after{display:none;}

/* Sidebar Navigation */
.sidebar nav{display:block; width:100%;}
.sidebar nav li{margin:0 0 3px 0; padding:0;}
.sidebar nav a{display:block; position:relative; margin:0; padding:5px 10px 5px 15px; text-decoration:none; border:solid; border-width:0 0 1px 0;}
.sidebar nav a::after{top:9px; left:5px; content:"\f101";}
.sidebar nav ul ul a{padding-left:35px;}
.sidebar nav ul ul a::after{left:25px;}
.sidebar nav ul ul ul a{padding-left:55px;}
.sidebar nav ul ul ul a::after{left:45px;}

/* Pagination */
.pagination{display:block; width:100%; text-align:center; clear:both;}
.pagination li{display:inline-block; margin:0 2px 0 0;}
.pagination li:last-child{margin-right:0;}
.pagination a, .pagination strong{display:block; padding:8px 11px; border:1px solid; background-clip:padding-box; font-weight:normal;}

/* Back to Top */
#backtotop{z-index:999; display:inline-block; position:fixed; visibility:hidden; bottom:20px; right:20px; width:36px; height:36px; line-height:36px; font-size:16px; text-align:center; opacity:.2;}
#backtotop i{display:block; width:100%; height:100%; line-height:inherit;}
#backtotop.visible{visibility:visible; opacity:.5;}
#backtotop:hover{opacity:1;}


/* Tables
--------------------------------------------------------------------------------------------------------------- */
table{}
table, th, td{}
table, th{table-layout:auto;}
th, td{padding:5px 20px;}
th{font-size:20px; color:rgba(238, 195, 38, 0.8);}
td{font-family:RSUText;}
.linkfortable, .linkfortable.inverse:hover{color:white;}
.linkfortable:hover, .inverse{color:rgba(178, 218, 153, 0.877)}

.table1{width:100%; margin-bottom:15px; border-radius:9px;}
.table1 td{font-size:23px;}
.table2{border:1px solid rgb(0,6,27); vertical-align:top; text-align:left; background-color:rgb(0,6,27);}
.table3{text-align:center; line-height:2.5;}
.table3 table{border-collapse:collapse;}
.table3 table th{background-color:rgb(0,6,27); border:1px solid white;}
.table3 table td{font-size:27px;}
.table3 tr:hover{background-color:rgba(72,160,0,0.5); color:black;}
.table4{text-align:center; line-height:2.5;}
.table4 table{border-collapse:collapse;}
.table4 table th{background-color:rgb(0,6,27); border:1px solid white;}
.table4 table td{font-size:20px; border:1px solid black;}
.table4 tr:nth-child(odd){background-color:rgba(180,147,31,0.2);}
.table4 td:nth-child(2), .table4 td:nth-child(3){text-align:left;}
.table4 tr:hover{background-color:rgba(72,160,0,0.5); color:black;}
.table5 td{font-size:20px; line-height:25px;}

#customers tr:nth-child(even){background-color: #f2f2f2;}

/* Search Box
--------------------------------------------------------------------------------------------------------------- */
/* Google Search */
.search1{width:150px; margin-right:4px;}
table .gsc-input{padding:0 !important;}
table .gsib_a{padding:0 5px !important; color:black !important;}
table .gsib_b{padding:0 !important;}
table .gsc-search-button{padding:0 !important; margin:0 0 0 5px !important; border-radius:50px !important;}
table .gsc-search-button .gsc-search-button{padding:7px !important;}
table .gsc-search-button{}
table table .gsst_a{padding:0 !important}
table table .gsst_b{padding:0 !important}

.cse .gsc-control-cse, .gsc-control-cse {
	padding:0 !important;
	margin:0 !important;
	position:none !important;
}

/* Search for Shopping Page *//*
.search-product {
	position: relative;
}
.search-product input[type="text"] {
	background: #f6f6f6;
	border: 0;
	box-shadow: none;
	border-radius: 0;
	color: #000;
	height: 50px;
	font-weight: 300;
	font-size: 16px;
	margin-bottom: 15px;
	padding: 0 20px;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	transition: all .5s ease;
	width: 100%;
	outline: 0;
}
.search-product .form-control::-moz-placeholder {
	color: #000000;
	opacity: 1;
}
.search-product button {
	background: #010101;
	color: #ffffff;
	font-size: 18px;
	position: absolute;
	right: 0px;
	padding: 12px 15px;
	top: 0;
	line-height: 27px;
	border: none;
	cursor: pointer;
	height: 100%;
}
.search-product button:hover{
	background: #d33b33;
}
.form-control::-moz-placeholder {
	color: #ffffff;
	opacity: 1;
}
.product-categori{margin-bottom: 30px;}
.product-categorie-box{margin-top: 20px;}

/* Shopping Page
--------------------------------------------------------------------------------------------------------------- */
.filter-sidebar-left{margin-bottom: 20px;}
.title-left{
	font-size: 16px;
	border-bottom: 3px solid #010101;
	margin-bottom: 20px;
}
.title-left h3{
	font-weight: 700;
}
.list-group-item {
	font-size: 14px;
	background-color: transparent;
	cursor: pointer;
}
.text-muted {
	padding: 10px 0px;
}
.list-group-item[data-toggle="collapse"]::after {
	width: 0;
	height: 0;
	position: absolute;
	top: calc(50% - 12px);
	right: 10px;
	content: '';
	-webkit-transition: top .2s,-webkit-transform .2s;
	transition: top .2s,-webkit-transform .2s;
	transition: transform .2s,top .2s;
	transition: transform .2s,top .2s,-webkit-transform .2s;
	font-family: FontAwesome;
	content: "\f105";
}
.list-group-tree .list-group-collapse .list-group {
	margin-left: 25px;
	border-left: 1px solid #ced4da;
}
.list-group-tree .list-group-item.active {
	color: rgb(2,83,165);
	background-color: transparent;
	font-weight: 700;
}
.list-group-tree .list-group-collapse .list-group > .list-group-item::before {
	position: absolute;
	top: 20px;
	left: 0;
	content: '';
	width: 8px;
	height: 1px;
	background-color: gray;
}
.list-group-tree .list-group-item:hover {
	color: rgb(2,83,165);
	background-color: transparent;
	outline: 0;
	font-weight: 700;
}
.product-categorie-box{
	margin-top: px;
}
.tab-content, .tab-pane{
	width: 100%;
}
.products-single {
	margin-bottom: 25px;
}
.products-single .box-img-hover{
	overflow: hidden;
	position: relative;
	background-color: white;
}
.box-img-hover img{
	margin: 0 auto;
	text-align: center;
	display: block;
}
.mask-icon{
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
}
.mask-icon ul{
	display: inline-block;
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.mask-icon ul li{
	background: rgb(72,160,0);
}
.mask-icon ul li a{
	color: #ffffff;
	padding: 5px 10px;
	display: block;
}
.mask-icon .cart{
	background: rgb(180,147,31);
	position: absolute;
	bottom: 0;
	right: 0px;
	padding: 10px 20px;
	font-weight: 700;
	color: #ffffff;
	border: none;
	cursor: pointer;
}
.mask-icon .cart:hover{
	background: #010101;
	color: #ffffff;
}
.mask-icon ul li a:hover{
	background: #010101;
	color: #ffffff;
}
.products-single .mask-icon{
	background: rgba(1,1,1,0.2);
	top: -100%;
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	-webkit-transition: all 0.3s ease-out 0.5s;
	-moz-transition: all 0.3s ease-out 0.5s;
	-o-transition: all 0.3s ease-out 0.5s;
	-ms-transition: all 0.3s ease-out 0.5s;
	transition: all 0.3s ease-out 0.5s;
}
.products-single:hover .mask-icon{
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	top: 0px;
	-webkit-transition-delay: 0s;
	-moz-transition-delay: 0s;
	-o-transition-delay: 0s;
	-ms-transition-delay: 0s;
	transition-delay: 0s;
	-webkit-animation: bounceY 0.9s linear;
	-moz-animation: bounceY 0.9s linear;
	-ms-animation: bounceY 0.9s linear;
	animation: bounceY 0.9s linear;
}
.list-view-box:hover .mask-icon{
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	top: 0px;
	-webkit-transition-delay: 0s;
	-moz-transition-delay: 0s;
	-o-transition-delay: 0s;
	-ms-transition-delay: 0s;
	transition-delay: 0s;
	-webkit-animation: bounceY 0.9s linear;
	-moz-animation: bounceY 0.9s linear;
	-ms-animation: bounceY 0.9s linear;
	animation: bounceY 0.9s linear;
}
.type-lb{
	position: absolute;
	top: 0px;
	right: 0px;
	z-index:8;
}
.tooltip-inner {
	background-color: #d33b33;
}
.tooltip.bs-tooltip-right .arrow:before {
	border-right-color: #d33b33 !important;
	padding-top: 0px !important;
	top: 0px !important;
}
.tooltip.bs-tooltip-left .arrow:before {
	border-right-color: #d33b33 !important;
}
.tooltip.bs-tooltip-bottom .arrow:before {
	border-right-color: #d33b33 !important;
}
.tooltip.bs-tooltip-top .arrow:before {
	border-right-color: #d33b33 !important;
}
.why-text.full-width h4 {
	font-size: 24px;
	font-weight: 700;
	padding-bottom: 15px;
}
.why-text.full-width h5 del{
	font-size: 13px;
	color: #666;
}
.why-text.full-width h5{
	color: #d33b33;
	font-weight: 700;
}
.why-text.full-width p{
	padding-bottom: 20px;
}
.why-text.full-width a{
	padding: 10px 20px;
	font-weight: 700;
	color: #ffffff;
	border: none;
}
.why-text{
	color:white;
	background: rgb(72,160,0);
	padding: 15px;
}
.why-text h4{
	font-size: 16px;
	padding-bottom: 15px;
	line-height: 23px;
}
.why-text h4 .size{
	text-align: right;
}
.why-text h5{
	font-size: 20px;
	padding: 0px;
}
/* Member area in sidebar-left menu */
.member-area{
	background-color: rgb(0,6,27);
	color: white;
	text-align: center;
	padding: 1px 0;
	border-radius: 5px;
}
.member-area .welcome-area{
	margin:10px 0;
}
.member-area .welcome-area:hover{
	color: rgb(180,147,31);
	cursor: context-menu;
}
.member-area .welcome-area p{
	font-weight: 600;
	font-size: 18px;
	margin:1px 0;
}
.member-area .logo-area {
	margin-top: 25px;
}
.member-area .logo-area img{
	width:30%;
	height:30%;
}
.member-area .logIn-area, .member-area .signUp-area{
	margin:20px 0;
}
.member-area .signUp-area{
	border-top: 1px solid rgb(107, 107, 107);
	padding-top: 10px;
}
.member-area .logIn-area a, .member-area .signUp-area a{
	border-radius: 5px;
	padding: 10px;
	display: inline-block;
	width: 80%;
}
.member-area .logIn-area a{
	background-color: rgb(180,147,31);
}
.member-area .signUp-area a{
	background-color: rgb(146, 146, 146);
}
.member-area .logIn-area a:hover, .member-area .signUp-area a:hover{
	background-color: transparent;
	border: 1px solid white;
}

/* Channel area to donate in sidebar-left menu */
.channel-area{
	margin-bottom: 20px;
}
.channel-area .logo-area, .channel-area .QRCode-area{
	text-align: center;
}
.channel-area .logo-area img, .channel-area .QRCode-area img{
	width:50%;
	height:50%;
}
.channel-area .detail-area{
	margin-top:10px;
	text-align: center;
}
.channel-area .howTo-area{
	background-color: rgb(0,6,27);
	color: white;
	text-align: center;
	margin-top:20px;
	padding:10px 0 5px;
	border-radius: 5px;
}
.channel-area .howTo-area a{
	background-color: rgb(180,147,31);
	border-radius: 5px;
	padding: 10px;
	display: inline-block;
	width: 80%;
}
.channel-area .howTo-area a:hover{
	background-color: transparent;
	border: 1px solid white;
}

/* Upload Slip area in sidebar-left menu */
.slipUpload-area{
	background-color: rgb(0,6,27);
	color: white;
	text-align: center;
	padding:10px 0;
	border-radius: 5px;
}
.slipUpload-area a{
	background-color: rgb(180,147,31);
	border-radius: 5px;
	padding: 10px;
	display: inline-block;
	width: 80%;
}
.slipUpload-area a:hover{
	background-color: transparent;
	border: 1px solid white;
}

/* Cart View Page
--------------------------------------------------------------------------------------------------------------- */
.cart-box-main{
	padding: 70px 0px;
}
/* table of my product detail */
.table-main .table thead{
	background-color: rgb(72,160,0);
}
.table-main .table thead th{
	font-size: 18px;
	color: #ffffff;
	text-align: center;
}
.table-main .table tbody td{
	vertical-align: middle;
	font-size: 30px;
	text-align: center;
}
.disable-margin p{
	margin: initial;
	padding: initial;
}
.thumbnail-img .img-fluid{
	width: 120px;
}
.product-explain{
	text-align: left !important;
}
.name-pr a, .name-pr p{
	font-weight: 700;
	color: black;
}
.order-detail-btn a, .order-detail-btn input{
	background-color: rgb(180,147,31);
	color: white;
	border-radius: 5px;
	padding: 7px 20px;
	font-size: 30px;
}
.order-detail-btn a:hover, .order-detail-btn input:hover{
	background-color: transparent;
	color: black;
	border: 1px solid black;
	z-index: 999;
}
.price-pr p{
	font-family: KanitLight;
	font-size: 18px;
}

.print-btn a, .print-btn input{
	color: white;
	border-radius: 5px;
	padding: 10px 10px 3px;
	font-size: 20px;
}
.print-btn a:hover, .print-btn input:hover{
	background-color: transparent;
	color: black;
	border: 1px solid black;
}
.tooltip1 {
	background-color: rgb(2,83,165);
  position: relative;
  display: inline-block;
}
.tooltip1 .tooltiptext1 {
  visibility: hidden;
  width: 110px;
  background-color: black;
  color: #fff;
  text-align: center;
	border-radius: 6px;
	font-size: 15px;
	padding:10px;
	transition: none;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 130%;
  left: 140%;
  margin-left: -90px;
}
.tooltip1 .tooltiptext1::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
	border-color: black transparent transparent transparent;
	transition: none;
}
.tooltip1:hover .tooltiptext1 {
  visibility: visible;
}
.tooltip2 {
	background-color: rgb(72,160,0);
  position: relative;
  display: inline-block;
}
.tooltip2 .tooltiptext2 {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
	border-radius: 6px;
	font-size: 15px;
	padding:10px;
	transition: none;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 130%;
  left: 50%;
  margin-left: -60px;
}
.tooltip2 .tooltiptext2::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
	transition: none;
}
.tooltip2:hover .tooltiptext2 {
	visibility: visible;
}
.tooltip3 {
	background-color: rgb(180,147,31);
  position: relative;
  display: inline-block;
}
.tooltip3 .tooltiptext3 {
  visibility: hidden;
  width: 180px;
  background-color: black;
  color: #fff;
  text-align: center;
	border-radius: 6px;
	font-size: 15px;
	padding:10px;
	transition: none;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 130%;
  left: -35%;
  margin-left: -60px;
}
.tooltip3 .tooltiptext3::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
	transition: none;
}
.tooltip3:hover .tooltiptext3 {
  visibility: visible;
}
.tooltip4 {
	background-color: rgb(2,83,165);
  position: relative;
  display: inline-block;
}
.tooltip4 .tooltiptext4 {
  visibility: hidden;
  width: 170px;
  background-color: black;
  color: #fff;
  text-align: center;
	border-radius: 6px;
	font-size: 15px;
	padding: 10px;
	transition: none;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 130%;
  left: -10%;
  margin-left: -60px;
}
.tooltip4 .tooltiptext4::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
	transition: none;
}
.tooltip4:hover .tooltiptext4 {
  visibility: visible;
}
.slip-upload-btn a{
	background-color: rgb(2,83,165);
	color: white;
	border-radius: 5px;
	padding: 7px 20px;
	font-size: 30px;
}
.slip-upload-btn a:hover{
	background-color: transparent;
	color: black;
	border: 1px solid black;
}
.slip-upload-btn a.disable-hover{
	background-color: rgb(72,160,0);
}
.slip-upload-btn a.disable-hover:hover{
	background-color: rgb(72,160,0);
	color: white;
	border: none;
	padding: 7px 20px;
	font-size: 30px;
	cursor: context-menu;
}
.quantity-box {
	text-align: center;
}
.quantity-box .update-product_amount-btn {
	background-color:  rgb(180,147,31);
	color: white;
	display: inline-block;
	font-size: 25px;
	border: none;
	padding: 0 7px;
	margin: 0;
	border-radius: 3px;
	cursor: pointer;
}
.quantity-box .update-product_amount-btn.number {
	background-color: transparent;
	color: black;
	display: inline-block;
	font-size: 18px;
	border: none;
	padding: 0;
	margin: 0;
}
.remove-pr a{
	color: black;
	font-size: 23px;
}
.table-responsive .table td, .table-responsive .table th {
	vertical-align: middle;
	/* white-space: nowrap; */
}
/* Order Summary Area */
.order-box{
	background-color: white;
	padding: 25px 20px;
	border-radius: 5px;
}
.order-box h3{
	color: #222222;
	font-size: 16px;
	font-weight: 700;
}/*
.order-box h4 {
	font-size: 16px;
	padding: 0px;
	line-height: 35px !important;
}*/
.order-box .font-weight-bold{
	font-size: 18px;
}
.order-box img{
	width:100px;
}
.location-box, .phonenum-box{
	background-color: rgb(199, 199, 199);
	padding: 5px 0 5px 5px;
	border-radius: 5px;
	width: 100%;
}
.location-box.new, .phonenum-box.new{
	background-color: rgb(241, 241, 241);
}
.gr-total h5 {
	font-weight: 700;
	color: rgb(72,160,0);
	font-size: 18px;
	margin: 0px;
	padding: 0px;
	line-height: 35px !important;
}
.gr-total .h5{
	margin: 0px;
	font-weight: 700;
	line-height: 35px;
}
.shopping-box .btn{
	font-size: 18px;
	color: #ffffff;
	border: none;
	padding: 2% 10%;
	margin: 30px 4% 0;
	cursor: pointer;
}
.container-basket-btn{
	width: 100%;
	text-align: center;
}
.container-basket-btn form{
	display: inline;
}
.no-order {
	font-family: RSUText;
	font-size: 40px;
	line-height: 50px;
	text-align: center;
}
.no-order a{
	font-family: Kanitlight;
	font-size: 30px;
	background-color: rgb(180,147,31);
	border-radius: 8px;
	padding: 10px 20px;
}
.no-order a:hover{
	background-color: transparent;
	color: rgb(0,6,27);
	border: 1px solid rgb(0,6,27);
}

/* Slip Upload Page
--------------------------------------------------------------------------------------------------------------- */
.slip-page{
	display: inline-block;
}
.slip-page .bank-area .logo-area{
	width: 50%;
}
.slip-page .bank-area .logo-area .detail-area p{
	margin:0;
	padding:0;
}

/* Shopping - Back Office Page
--------------------------------------------------------------------------------------------------------------- */
/* Update Status Button Style */
.cart-box-main .up-stat-sty .up-stat-btn {
	width: 100%;
	text-align: center;
	padding-right: 0;
	border: none;
	cursor: pointer;
}
.cart-box-main .up-stat-sty .up-stat-btn .fa-caret-down {
	margin-left: auto;
}
.cart-box-main .up-stat-sty .dropdown {
	display: none;
	position: absolute;
	z-index: 0;
}
.cart-box-main .up-stat-sty:hover .dropdown {
	display: block;
}
.cart-box-main .up-stat-sty:hover .dropdown a {
	background-color: rgba(72,160,0,0.9);
	color: white;
	display: block;
	text-align: initial;
	font-size: 18px;
	padding: 15px 20px;
	margin-left: -45px;
	cursor: pointer;
	border-bottom: 2px solid rgb(2,83,165);
}
.cart-box-main .up-stat-sty:hover .dropdown a:hover {
	background-color: rgb(2,83,165);
}

/* Product Remark Style */
.cart-box-main .order_remark-sty textarea{
	border: 1px solid rgb(175, 175, 175);
	font-size: 25px;
	border-radius: 6px;
	padding-top: 5px;
	margin: auto;
	width: 100%;
	height: 30px;
}
.order_remark-submit{
	font-family: RSUText;
	font-size: 25px !important;
	margin: 8px auto 0;
	padding: 1px 0 !important;
	cursor: pointer;
	border: none;
	width: 100%;
}

/* Certificate เกียรติบัตรออนไลน์+พิเศษ
--------------------------------------------------------------------------------------------------------------- */
/* Certificate Normal */
.cer_nor{
	font-family: RSUText;
	position: absolute;
	left: 50;
	top: 20;
}

/* แนบไฟล์ขั้นพื้นฐาน-เด็ก
--------------------------------------------------------------------------------------------------------------- */
.stu-file-btn{ /* Student See file Button */
	background-color: rgb(0,31,167);
	color: white;
	border-radius: 50px;
	border-color: transparent;
}
.stu-file-btn:hover{
	background-color: rgb(130,153,255);
	color: black;
	cursor: pointer;
}
.stu-up-btn{ /* Student Upload Button */
	color: white;
	background-color:rgb(94,177,26);
	border-color:transparent;
	border-radius:50px;
	padding:1px 0;
}
.stu-up-btn:hover{
	background-color: rgb(142,231,69);
	color: black;
	cursor: pointer;
}


/* Inactive tab */
.cse .gsc-tabHeader.gsc-tabhInactive,
.gsc-tabHeader.gsc-tabhInactive {
  border-bottom: none;
  color: #666666 !important;
  background-color: #e9e9e9;
  border: 1px solid;
  border-color: #e9e9e9;
  border-bottom: none;
}

/* Gallery
--------------------------------------------------------------------------------------------------------------- */
#gallery{display:block; width:100%; height:100%; margin-bottom:50px;}
#gallery figure figcaption{display:block; width:100%; clear:both;}
#gallery li{margin-bottom:30px;}


/* Navigation Style
--------------------------------------------------------------------------------------------------------------- */
.fa-caret-down{margin-right: 10px;} /* Add the right margin for all drop-down button */

.faico{text-align:center; margin:0; padding:0; list-style:none;}
.faico li{display:inline-block; padding:4px 3px; margin:0 4px; background-color:rgba(180,147,31,.8); border-radius:5px;}
.faico li:last-child{margin-right:0;}
.faico a{display:inline-block; width:100px; font-size:15px; padding:3px 0;}
.faico a{color:white;}
.PreMenufaico{text-align:center; margin:0; padding:0; list-style:none;}
.PreMenufaico li{display:inline-block; padding:5px 0; margin:0 4px; background-color:rgba(180,147,31,.8); border-radius:3px;} /* Set FB, Line and youtube button */
.PreMenufaico li:last-child{margin-right:0;}
.PreMenufaico a{display:inline-block; width:50px; font-size:20px; vertical-align:-4px;}
.PreMenufaico a{color:white;}
.faicon-facebook:hover, .faicon2-facebook:hover{background-color:#3B5998; border:1px solid rgba(0,6,27,0.5);}
.faicon-line:hover, .faicon2-line:hover{background-color:#00b900; border:1px solid rgba(0,6,27,0.5);}
.faicon-youtube:hover, .faicon2-youtube:hover{background-color:#c4302b; border:1px solid rgba(0,6,27,0.5);}

.PreMenufaico2 li{background-color:rgba(180,147,31,0.8); border-radius:3px; padding: 6px 8px; margin: 0 2px;} /* Set padding and margin of user level, login, logout, signup, language, donate button */
.PreMenufaico2 li a{display: block; color:white;}

.faicon-login:hover,.faicon-language:hover{background-color:transparent; border:1px solid white;}
.faicon-login a:hover{color:white;}

.faico2{text-align:left; padding:0;}
.faico2 ul{list-style:none;}
.faico2 a{font-size:15px; vertical-align:4px;}
.faico2 .faicon2-line, .faico2 .faicon2-facebook{display:inline; padding:0 10px; margin:0 4px; background-color:rgba(180,147,31,.8); border-radius:5px;}

/* Basket Button */
li.faicon-basket{
	background-color: rgb(72, 160, 0);
	cursor: pointer;
}
li.faicon-basket ul{
	border-top: 5px solid rgb(2, 83, 165);
	margin: 16px 0 0 -70px !important;
}
li.faicon-basket ul li a{
	background-color: rgba(72, 160, 0) !important;
	padding: 9px 10px !important;
}
li.faicon-basket ul li a:hover{
	background-color: none !important;
}

/* Step Style สมัครเข้าall_project.php */
.dot{
	height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.line{
	height: 5px;
	width: 40%;
	background-color: #bbb;
  border-radius: 80%;
  display: inline-block;
}

/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */


/* Colours
--------------------------------------------------------------------------------------------------------------- */
body{color:#A8A7A6; background-color:#0F1620;}
a{color:white;}
hr, .borderedbox{border-color:#F4F4F4;}
label span{color:#FF0000; background-color:inherit;}
input:focus, textarea:focus, *:required:focus{border-color:#15AD72;}

.overlay{color:#FFFFFF; background-color:inherit;}
.overlay::after{color:inherit; background-color:rgba(27,32,38,.55);/* #1B2026 */}
.overlay.light{color:#474747;}
.overlay.light::after{background-color:rgba(255,255,255,.8);}
.overlay.coloured::after{background-color:rgba(255, 255, 255, 0.4); /* #15AD72 */}

.btn{display:inline-block; padding:4px 18px; text-transform:uppercase; border-radius:5px;}
.btn a{color:white; vertical-align:-5px;}
.btn, .btn.inverse:hover{color:#FFFFFF; background-color:rgba(180,147,31,0.8);}
.btn:hover, .inverse{color:black; background-color:transparent; border:1px solid white;}
.btn2{display:inline-block; padding:4px 18px; text-transform:uppercase; border-radius:5px; font-family:KanitLight; font-size:20px;}
.btn2 a{color:white; vertical-align:-5px;}
.btn2, .btn2.inverse:hover{color:#FFFFFF; background-color:rgba(180,147,31,0.8);}
.btn2:hover, .inverse{color:black; background-color:transparent; border:1px solid black;}

.bgvdo{background-color:rgb(0,6,27); padding:20px; border-radius:15px;}

.btnJoin{background-color:rgb(16,192,0); margin:0 90px; padding:12px 0; border-radius:100px; text-align:center; box-shadow:0px 10px 20px 2px black;}
.btnJoin:hover{border:rgb(16,192,0) solid 10px; background-color:rgb(16,192,0,0.3);}
.btnJoin a:hover{color:white;}

.JoinHeader{color:black; margin-bottom:500px;}

.contactusPageLinkFB, .contactusPageLinkFB.inverse:hover{color:rgb(0,0,0)}
.contactusPageLinkFB:hover, .inverse{color:#3B5998; text-decoration:underline;}
.contactusPageLinkLi, .contactusPageLinkLi.inverse:hover{color:rgb(0,0,0)}
.contactusPageLinkLi:hover, .inverse{color:#00b900; text-decoration:underline;}
.contactusPageLinkYT, .contactusPageLinkYT.inverse:hover{color:rgb(0,0,0)}
.contactusPageLinkYT:hover, .inverse{color:#c4302b; text-decoration:underline;}

.readnext{color:rgb(72,160,0);}
.readnext:hover{color:rgba(164, 255, 89, 0.836);}
.readall{color:rgb(16,192,0);}
.readall:hover{color:rgb(0,6,27);}

.textlink a{color:rgb(72,160,0);}
.textlink a:hover{color:rgba(164, 255, 89, 0.836);}

.textlink2{color:rgb(105, 187, 38);}
.textlink2:hover, .textlink2 a:hover{color:rgba(164, 255, 89, 0.836);}

.textlink3 a{color:rgb(0,0,0); font-family:KanitLight;}
.textlink3 a:hover{color:rgba(164,255,89,0.836);}

.textlink4 a{color:rgba(164,255,89,0.836);}
.textlink4:hover, .textlink4 a:hover{color:rgb(72,160,0)}

.pointer{cursor:pointer;}
.form-upload-slip{color:black;}

/* Filter Style */
.show-fil{display:none; width:30%; margin:20px 10px; vertical-align:top;}
.show{display:inline-block;}
.btnfilter1{display:inline-block; padding:4px 18px; text-transform:uppercase; border-radius:5px; cursor:pointer;}
.btnfilter1, .btnfilter1.inverse:hover{color:#FFFFFF; background-color:rgba(180,147,31,0.8);}
.btnfilter1:hover{color:black; background-color:transparent; border:1px solid white;}
.filter .devattactive, .devattbtn:hover{background-color:rgb(144,233,0); color:white;}
.filter .couteaactive, .couteabtn:hover{background-color:green; color:white;}
.filter .psyguiactive, .psyguibtn:hover{background-color:rgb(0,168,235); color:white;}
.filter .teceduactive, .tecedubtn:hover{background-color:rgb(0,31,167); color:white;}

.tag .devatt-sty{background-color:rgb(144,233,0); padding:8px 10px 3px; border-radius:15px;}
.tag .coutea-sty{background-color:green; padding:8px 10px 3px; border-radius:15px;}
.tag .psygui-sty{background-color:rgb(0,168,235); padding:8px 10px 3px; border-radius:15px;}
.tag .tecedu-sty{background-color:rgb(0,31,167); padding:8px 10px 3px; border-radius:15px;}

/* Text Color */
.text-white{color:white;}
.text-black{color:black;}
.text-gold{color:rgb(180,147,31);}
.text-red1{color:rgb(231, 59, 59);}
.text-green1{color:rgb(72,160,0);}
.text-yellow1{color:rgba(255,247,176,0.377);}
.text-yellow2{color:rgb(216,163,23);}
.text-tran{color:transparent;}

/* Background Color */
.BG-white{background-color:white;}
.BG-black{background-color:black;}
.BG-green1{background-color:rgb(72,160,0);}
.BG-green2{background-color:rgb(94,177,26);}
.BG-green3{background-color: rgba(72, 160, 0, 0.2);}
.BG-silver{background-color:rgb(169,169,169);}
.BG-gold1{background-color:rgb(180,147,31);}
.BG-diamond{background-color:rgb(52,52,53);}
.BG-gray1{background-color:rgb(206, 206, 206);}
.BG-gray2{background-color:rgba(206, 206, 206, 0.2);}
.BG-tran{background-color:transparent;}
.BG-red1{background-color:rgb(231, 59, 59);}
.BG-red2{background-color:rgba(231, 59, 59, 0.144);}
.BG-orange1{background-color:rgba(223, 143, 69, 0.205);}
.BG-yellow1{background-color:rgba(255,247,176,0.377);}
.BG-yellow2{background-color:rgb(216,163,23);}
.BG-blue1{background-color:rgb(29,64,216);}
.BG-blue2{background-color:rgb(2,83,165)}

/* Blink */
.blink1{
	animation:blinkText1 1s infinite;
	border-radius:5px;
	padding:3px 5px;
	margin-right:5px;
	font-weight:bold;
}
.blink2{
	animation:blinkText1 1s infinite;
	border-radius:5px;
	padding:10px;
	margin-right:10px;
	vertical-align:-5px;
	font-weight:bold;
}
@keyframes blinkText1{
    0%{color:white; background-color:rgb(72,160,0);}
	50%{color:rgb(173,255,107); background-color:transparent;}
	100%{color:white; background-color:rgb(72,160,0);}
}
.blink3{
	animation:blinkText2 2s infinite;
}
@keyframes blinkText2{
	0%{color:white;}
50%{color:rgb(48,48,48);}
100%{color:white;}
}

/* Line */
.line2-t-green1{border-top:2px solid rgb(72,160,0);}

/* Rows */
.row1{color:#FFFFFF; background-color:rgb(0,6,27);}
.row2{color:#FFFFFF; background-color:rgb(94,177,26);}
.row3{color:#474747; background-color:#FFFFFF;}
.row4{color:#A8A7A6; background-color:rgb(0,6,27);}
.row5{background-color:rgb(0,6,27);}
.row6{color:rgb(0,6,27); background-color:#FFFFFF;}
.row7{color:#FFFFFF; background-color:rgb(94, 177, 26);}

/* Line Separation Content */
.subtitel{position:relative; background:#939aa0; height:100px; width:1px; margin-bottom:30px; background-position-x:center;}

/* Header */
#header #logo a{color:inherit;}
#header #logo a:hover, #header #logo ::first-letter{color:rgb(148, 119, 24);}
.navbar{overflow: hidden; background-color: #333; position: fixed; top: 0; width: 100%;}
.navbar a{float: left; display: block; color: #f2f2f2; text-align: center; padding: 14px 16px; text-decoration: none;}
.navbar a:hover{background: #ddd; color: black;}


/* Page Intro */
#pageintro .transbox{color:#FFFFFF; background-color:rgba(27,32,38,.55);/* #1B2026 */}


/* Content Area */
.elements article i{border-color:#15AD72; background-color:rgba(255,255,255,.2);}
.elements article:hover i{color:#FFFFFF; background-color:#15AD72;}

.latest article figure figcaption{color:#FFFFFF;}
.latest article figure figcaption time strong{background-color:rgb(94,177,26);}
.latest article figure figcaption time em{background-color:rgb(33, 73, 1);}
.latest article .txt{color:inherit; background-color:rgb(0,6,27);}


/* Footer */
#footer .heading{color:#FFFFFF;}
.linklist li{border-color:rgba(255,255,255,.1);}

#footer input, #footer button{border-color:transparent;}
#footer input{color:#FFFFFF; background-color:#0F1620;}
#footer input:focus{border-color:#59A209;}
#footer button{color:#FFFFFF; background-color:#15AD72;}

.footercontact:hover{color:rgb(2,83,165);}


/* Navigation */
#mainav li a{color:inherit;}
#mainav .active, #mainav a:hover, #mainav li:hover > a{color:rgb(0,6,27); background-color:inherit; text-decoration:underline;}
#mainav li li a, #mainav .active li a{color:#FFFFFF; background-color:rgba(0,0,0,.6); border-color:rgba(0,0,0,.6);}
#mainav li li:hover > a, #mainav .active .active > a{color:#FFFFFF; background-color:rgb(72,160,0);}
#mainav form select{color:#FFFFFF; background-color:#0F1620; border-color:rgba(255,255,255,.2);}
#mainav2 form select{color:#FFFFFF; background-color:rgb(180,147,31); font-size:15px;}

#breadcrumb a{color:inherit; background-color:inherit;}
#breadcrumb li:last-child a{color:rgb(72,160,0);}

.container .sidebar nav a{color:inherit; border-color:#F4F4F4;}
.container .sidebar nav a:hover{color:rgb(255, 255, 255);}

.pagination a, .pagination strong{color:rgba(180,147,31,0.8);; border-color:gray;}
.pagination .current *{color:#FFFFFF; background-color:rgba(180,147,31,0.8);}

#backtotop{color:#FFFFFF; background-color:rgb(72,160,0);}


/* Tables + Comments *//*
table, th, td, #comments .avatar, #comments input, #comments textarea{border-color:#F4F4F4;}
#comments input:focus, #comments textarea:focus, #comments *:required:focus{border-color:#15AD72;}
th{color:#FFFFFF; background-color:#373737;}
tr, #comments li, #comments input[type="submit"], #comments input[type="reset"]{color:inherit; background-color:#FBFBFB;}
tr:nth-child(even), #comments li:nth-child(even){color:inherit; background-color:#F7F7F7;}
table a, #comments a{background-color:inherit;}*/


.table-main .table6 thead{
	background-color: rgb(72,160,0);
}
.table-main .table6 thead th{
	font-size: 18px;
	color: #ffffff;
	text-align: center;
}
.table-main .table6 tbody tr:hover{
	background-color: rgba(72,160,0,0.5);
}
.table-main .table6 tbody tr:nth-child(odd){
	background-color: white;
}
.table-main .table6 tbody tr:nth-child(odd):hover{
	background-color: rgba(72,160,0,0.5);
}
.table-main .table6 tbody td{
	vertical-align: middle;
	font-size: 30px;
	text-align: center;
	white-space: normalวิ;
}
.table-main .table6 tbody td.detail{
	text-align: left;
	line-height: 40px;
}
.table-responsive .table6 td, .table-responsive .table6 th {
	vertical-align: middle;
	white-space: nowrap;
}

/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */


/* Media Queries
--------------------------------------------------------------------------------------------------------------- */
@-ms-viewport{width:device-width;}



/* Max Width - Laptop, Desktop etc.
--------------------------------------------------------------------------------------------------------------- */
.socialtext{}

@media screen and (min-width:1501px){
	.hoc{max-width:80%;}
}

@media screen and (max-width:1500px){
	.hoc{max-width:80%;}
	.btnJoin h6{font-size:40px;}

	.bgSizeBInAw01{background-image:url('BInAw Poster01 1500.png');}
	.bgSizeBInAw02{background-image:url('ภาพรวมการดำเนินโครงการBe Internet Awesome Poster 1500.png');}
	.bgSizeBInAw03{background-image:url('มูลนิธิครูดีของแผ่นดิน Slideวันงาน 1450.png');}
	.bgSizeBInAw04{background-image:url('ยื่นหลักฐาน 1500.png');}
	.bgSizeBInAwBIA{background-image:url('มูลนิธิครูดีของแผ่นดิน BInAw Poster01 1450.png');}
}

@media screen and (max-width:1350px){
	.hoc{max-width:80%;}
	.btnJoin h6{font-size:40px;}

	.bgSizeBInAw02 h5{font-size:50px;}
}

@media screen and (max-width:1200px){
	.hoc{max-width:80%;}
	.bgJoin h5{font-size:40px}
	.btnJoin h6{font-size:35px;}

	.bgSizeBInAw02{background-image:url('ภาพรวมการดำเนินโครงการBe Internet Awesome Poster 1200.png');}
	.bgSizeBInAw03{background-image:url('มูลนิธิครูดีของแผ่นดิน Slideวันงาน 1450.png');}
	.bgSizeBInAw04{background-image:url('มูลนิธิครูดีของแผ่นดิน ยื่นหลักฐาน 1450.png');}
	.bgSizeBInAwBIA{background-image:url('มูลนิธิครูดีของแผ่นดิน BInAw Poster01 1450.png');}

	.PreMenufaico2 li a text1{display:none;}
	.PreMenufaico2 li.faicon-login, .PreMenufaico2 li.faicon-language{padding:3px 20px !important;}

	.margin-for-fixedMenu{margin-top:145px;}
}

@media screen and (max-width:1069px){
	.hoc{max-width:90%;}

	#header{padding:30px 0;}
	#header #logo{margin:0;}

	.MenuBG{padding-bottom:15px;}

	#mainav{margin-top:26px;}
	#mainav ul{display:none;}
	#mainav form{display:block;}

	#comments input[type="reset"]{margin-top:10px;}
	.pagination li{display:inline-block; margin:0 5px 5px 0;}

	#copyright p:first-of-type{margin-bottom:10px;}

	.footerheadertext{line-height:50px;}
}

@media screen and (max-width:1050px){
	.hoc{max-width:80%;}
	.btnJoin h6{font-size:40px;}

	.bgSizeBInAw02{background-image:url('ภาพรวมการดำเนินโครงการBe Internet Awesome Poster IpadSize.png');}
	.bgSizeBInAw03{background-image:url('มูลนิธิครูดีของแผ่นดิน Slideวันงาน MobileSize.png');}
	.bgSizeBInAw04{background-image:url('มูลนิธิครูดีของแผ่นดิน ยื่นหลักฐาน MobileSize.png');}
	.bgSizeBInAwBIA{background-image:url('มูลนิธิครูดีของแผ่นดิน BInAw Poster01 MobileSize.png');}

	.pagi-container .pagi-style{padding:0.1% 1%;}
}

/* Mobile Devices
--------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width:930px){
	.btnJoin h6{font-size:30px;}
	.show-fil{width:30%;}

	.PreMenuBG .PreMenufaico{display:none}
	.PreMenuBG .PreMenufaico{text-align:center;}
	.search1.PreMenu_fl_right{float:none;}

	.navi-container .prev, .navi-container .next{padding:1.1% 2.2% 0.6%;}
	.pagi-container .pagi-style{padding:0.01% 1%;}
}

@media screen and (max-width:840px){
	.show-fil{width:29%;}
}

@media screen and (max-width:830px){
	.bgJoin h5{font-size:30px}
	.btnJoin h6{font-size:25px;}

	.faico li a socialtext{display:none;}
	.faico{text-align:center; margin:0; padding:0; list-style:none;}
	.faico li{display:inline-block; padding:3px 0; margin:0 4px; background-color:rgb(180,147,31,.8); border-radius:3px;}
	.faico li:last-child{margin-right:0;}
	.faico a{display:inline-block; width:50px; font-size:20px; vertical-align:-8px;}
	.faico a{color:white;}
}

@media screen and (max-width:810px){
	.fl_left, .fl_right{float:none;}
	.MenuBG ul{text-align:center;}

	.margin-for-fixedMenu{margin-top:208px;}
	.pagi-container .pagi-style{padding:0.01% 1.1%;}
}

@media screen and (max-width:750px){
	.h5{font-size:30px;}
	.h6{font-size:25px;}

	.imgl, .imgr{display:inline-block; float:none; margin:0 0 10px 0;}
	.fl_left, .fl_right{display:block; float:none;}
	.PreMemu_fl_left{display:block; float:left;}
	.PreMemu_fl_right{display:block; float:right;}
	.group .group > *:last-child, .clear .clear > *:last-child, .clear .group > *:last-child, .group .clear > *:last-child{margin-bottom:0;}/* Experimental - Needs more testing in different situations, stops double margin when stacking */
	.one_first, .one_half, .one_third, .two_third, .one_quarter, .two_quarter, .three_quarter{display:block; float:none; width:auto; margin:0 0 50px 0; padding:0;}

	#header{text-align:center;}
	#header #logo{margin-bottom:15px;}

	#pageintro .transbox{max-width:none;}

	.sectiontitle{max-width:none; text-align:left;}

	#footer{padding-bottom:30px;}/* Not needed, just looks better. Compensates for the grid elements bottom margin when stacked */
	
	.faico li a socialtext{display:none;}
	.faico{text-align:center; margin:0; padding:0; list-style:none;}
	.faico li{display:inline-block; padding:3px 0; margin:0 4px; background-color:rgb(180,147,31,.8); border-radius:3px;}
	.faico li:last-child{margin-right:0;}
	.faico a{display:inline-block; width:50px; font-size:20px; vertical-align:-8px;}
	.faico a{color:white;}

	#mainav2 ul{display:none;}
	#mainav2 form{display:block;}

	.pagi-container .pagi-style{padding:0.01% 1.2%;}
}


/* Other
--------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:650px){
	.hoc h5{font-size:30px;}
	.hoc h6{font-size:27px;}
	.bgJoin{height:100%}
	.btnJoin{background-color:rgb(16,192,0); margin:0px; padding:10px 10px 10px 10px; border-radius:30px 30px 0 0; box-shadow:0 -2px 20px 10px white;}
	.bgSizeTeacher{background-image:url('มูลนิธิครูดีของแผ่นดิน ร่วมงาน_ครูดี MobileSize.jpg')}
	.bgSizeStudent{background-image:url('มูลนิธิครูดีของแผ่นดิน ร่วมงาน_นักเรียนดี MobileSize.jpg')}
	.bgSizeSupervisor{
		background-image:url('มูลนิธิครูดีของแผ่นดิน ร่วมงาน_ศึกษานิเทศก์ดี MobileSize.jpg');
		background-position:center;
		background-repeat:no-repeat;
	}
	.bgSizeDevelop{background-image:url('มูลนิธิครูดีของแผ่นดิน ร่วมงาน_อบรมพัฒนา MobileSize.jpg');}
	.bgSizeBInAw01{
		background-image:url('มูลนิธิครูดีของแผ่นดิน BInAw Poster01 MobileSize.png');
		background-position-x:center;
		background-repeat:no-repeat;
	}
	.bgSizeBInAw02{background-image:url('ภาพรวมการดำเนินโครงการBe Internet Awesome Poster MobileSize.png');}
	.bgSizeBInAw03{background-image:url('มูลนิธิครูดีของแผ่นดิน Slideวันงาน MobileSize.png'); width:device-width;}
	.bgSizeBInAw04{background-image:url('มูลนิธิครูดีของแผ่นดิน ยื่นหลักฐาน MobileSize.png');}
	.bgSizeBInAwBIA{background-image:url('มูลนิธิครูดีของแผ่นดิน BInAw Poster01 MobileSize.png');}

	.scrollable{display:block; width:100%; margin:0 0 30px 0; padding:0 0 15px 0; overflow:auto; overflow-x:scroll;}
	.scrollable table{margin:0; padding:0;}

	.inline li{display:block; margin-bottom:10px;}
	.pushright li{margin-right:0;}

	.font-x2{font-size:1.4rem;}
	.font-x3{font-size:3rem;}

	.show-fil{width:45%;}

	.navi-container{font-size:20px;}
	.navi-container .prev, .navi-container .next{padding:1.1% 2.3% 0.3%;}
	.pagi-container{margin-bottom:10px;}
	.pagi-container .pagi-style{padding:0.1px 1%; font-size:10px;}
}

@media screen and (max-width:550px){
	.show-fil{width:44%;}
	.pagi-container .pagi-style{font-size:9px;}
}

@media screen and (max-width:470px){
	.search1{width:100%; margin-top:10px;}
	.PreMenu_fl_right{float:none;}
	#mainav2 .PreMenufaico2{width:100%; text-align:center;}
	.margin-for-fixedMenu{margin-top:255px;}
}

@media screen and (max-width:432px){
	.margin-for-fixedMenu{margin-top:308px;}
}

@media screen and (max-width:455px){
	.show-fil{width:95%;}
	.pagi-container .pagi-style{font-size:7.5px;}
}

@media screen and (max-width:376px){
	.margin-for-fixedMenu{margin-top:336px;}
}

@media screen and (max-width:300px){
	.navi-container{font-size:10px;}
	.navi-container .prev{margin-left:5px;}
	.navi-container .next{margin-right:5px;}
	.pagi-container{margin-bottom:1px;}
	.pagi-container .pagi-style{font-size:5px; border:1px solid rgb(77,77,77);}
	
}